%div.network-graph
  %h2 Network Graph for a User
  .network-graph-container
    .network-graph-canvas{'data-graph-url' => resource_graph_path(@resource.id, klass.resource_group.id, :json)}
  %p
    %input#network-graph-filter-edges.network-graph-filter{type: 'checkbox'}
    %label{for: 'network-graph-filter-edges'} Show only important edges
    %a.btn.btn-default.btn-sm.toggle-layout Start ForceAtlast Layout
    %a.btn.btn-default.btn-sm.random-layout Random Layout
    %a.btn.btn-default.btn-sm.circular-layout Circular Layout
    %a.btn.btn-default.btn-sm.spiral-layout Grid Layout